<template>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <router-link to="/" class="navbar-brand"
                        >Stocks Trader</router-link
                    >
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <router-link
                            to="/portfolio"
                            tag="li"
                            activeClass="active"
                        >
                            <a>Portfolio</a>
                        </router-link>
                        <router-link to="/stocks" tag="li" activeClass="active">
                            <a>Stocks</a>
                        </router-link>
                    </ul>
                    <strong class="navbar-text navbar-right"
                        >Funds: {{ funds | currency }}</strong
                    >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" @click="endDay">End Day</a>
                        </li>
                        <li
                            class="dropdown"
                            :class="{ open: isDropDownOpen }"
                            @click="isDropDownOpen = !isDropDownOpen"
                        >
                            <a
                                href="#"
                                class="dropdown-toggle"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                Save & Load
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" @click="saveData">Save Data</a>
                                </li>
                                <li>
                                    <a href="#" @click="loadData">Load Data</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
    data() {
        return {
            isDropDownOpen: false,
        };
    },
    computed: {
        ...mapGetters(['funds', 'stockPortfolio', 'stocks']), //in order to use them on saveData method
        funds() {
            return this.$store.getters.funds;
        },
    },
    methods: {
        ...mapActions({
            randomizeStocks: 'randomizeStocks',
            fetchData: 'loadData',
        }),
        endDay() {
            this.randomizeStocks();
        },
        saveData() {
            const data = {
                funds: this.funds,
                stockPortfolio: this.stockPortfolio,
                stocks: this.stocks,
            };
            this.$http.put('data.json', data);
        },
        loadData() {
            this.fetchData();
        },
    },
};
</script>
